﻿<%@ Page language="C#"   Inherits="Microsoft.SharePoint.Publishing.PublishingLayoutPage,Microsoft.SharePoint.Publishing,Version=16.0.0.0,Culture=neutral,PublicKeyToken=71e9bce111e9429c" meta:progid="SharePoint.WebPartPage.Document" %>
<%@ Register Tagprefix="SharePointWebControls" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Register Tagprefix="PublishingWebControls" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Register Tagprefix="PublishingNavigation" Namespace="Microsoft.SharePoint.Publishing.Navigation" Assembly="Microsoft.SharePoint.Publishing, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<asp:Content ContentPlaceholderID="PlaceHolderAdditionalPageHead" runat="server">
	<SharePointWebControls:CssRegistration name="<% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %>" runat="server"/>
	<SharePoint:ScriptLink id="ScriptExternalJs" runat="server"  Name="~SiteCollection/Style Library/Branding/Scripts/UNSWIntranet.js" OnDemand="false" LoadAfterUI="true" Localizable="false" ></SharePoint:ScriptLink>
	<PublishingWebControls:EditModePanel runat="server">
		<!-- Styles for edit mode only-->
		<SharePointWebControls:CssRegistration name="<% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %>"
			After="<% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %>" runat="server"/>
	</PublishingWebControls:EditModePanel>
	<SharePointWebControls:FieldValue id="PageStylesField" FieldName="HeaderStyleDefinitions" runat="server"/>
</asp:Content>
<asp:Content ContentPlaceholderID="PlaceHolderPageTitle" runat="server">
	<SharePointWebControls:FieldValue id="PageTitle" FieldName="Title" runat="server"/>
</asp:Content>
<asp:Content ContentPlaceholderID="PlaceHolderPageTitleInTitleArea" runat="server">
	<SharePointWebControls:FieldValue FieldName="Title" runat="server"/>
    <div id="newsPageTopDetails" class="newspage-header-details">
        <SharePointWebControls:FieldValue FieldName="UNSWIASSPublishDate" runat="server"/>
    </div>		
</asp:Content>
<asp:Content ContentPlaceHolderId="PlaceHolderTitleBreadcrumb" runat="server"> 
	<SharePointWebControls:ListSiteMapPath runat="server" SiteMapProviders="CurrentNavigationSwitchableProvider" RenderCurrentNodeAsLink="false" PathSeparator="" CssClass="s4-breadcrumb" NodeStyle-CssClass="s4-breadcrumbNode" CurrentNodeStyle-CssClass="s4-breadcrumbCurrentNode" RootNodeStyle-CssClass="s4-breadcrumbRootNode" NodeImageOffsetX=0 NodeImageOffsetY=289 NodeImageWidth=16 NodeImageHeight=16 NodeImageUrl="/_layouts/15/images/fgimg.png?rev=43" HideInteriorRootNodes="true" SkipLinkText=""/> </asp:Content>
<asp:Content ContentPlaceholderID="PlaceHolderMain" runat="server">
		<div class="content-area-background p-b-lg">
		  <div id="contentBoxWrapper" class="centre-page-content-fass">
	
		<div class="article article-body">
		<PublishingWebControls:EditModePanel runat="server" CssClass="edit-mode-panel title-edit">
			<SharePointWebControls:TextField runat="server" FieldName="Title"/><br />
			    <%-- <SharePointWebControls:TextField FieldName="ArticleByLine"  runat="server"/>  --%>
			    <SharePointWebControls:NoteField FieldName="UNSWIASSSummary" InputFieldLabel="News Summary" runat="server"/><br />
			    <SharePointWebControls:DropDownChoiceField FieldName="UNSWIASSNewsCategory" InputFieldLabel="News Category" runat="server"/><br />
                    <SharePointWebControls:DateTimeField FieldName="UNSWIASSPublishDate" InputFieldLabel="Publish Date" runat="server"/><br />
			        <SharePointWebControls:DateTimeField FieldName="UNSWIASSExpiryDate" InputFieldLabel="Expiry Date" runat="server"/><br />
			        <SharePointWebControls:BooleanField FieldName="UNSWIASSFeatured" InputFieldLabel="Featured News" runat="server"/><br />
			        <SharePointWebControls:UrlField FieldName="UNSWIASSHyperlink" InputFieldLabel="External Link" runat="server"/>			    			
		</PublishingWebControls:EditModePanel>
		<div class="article-content">

			<PublishingWebControls:RichImageField ID="PublishingPageImage" RenditionId="9" FieldName="PublishingPageImage" runat="server" InputFieldLabel="Page Image"></PublishingWebControls:RichImageField>
			<PublishingWebControls:RichHtmlField FieldName="PublishingPageContent" HasInitialFocus="True" MinimumEditHeight="400px" runat="server"/>
		</div>
		<div class="article article-body">
			<PublishingWebControls:EditModePanel runat="server" CssClass="edit-mode-panel title-edit">
		    	<SharePointWebControls:MultipleLookupField FieldName="IAASSiteName" InputFieldLabel="Site Names" runat="server"/>
      		</PublishingWebControls:EditModePanel>
      	</div>
		<div style="display:none">
			<PublishingWebControls:EditModePanel runat="server" CssClass="edit-mode-panel roll-up">
			<PublishingWebControls:RichImageField FieldName="PublishingRollupImage" AllowHyperLinks="false" runat="server" />
			<asp:Label text="<%$Resources:cms,Article_rollup_image_text15%>" CssClass="ms-textSmall" runat="server" />
			</PublishingWebControls:EditModePanel>
		</div>
	
		</div></div></div>
</asp:Content>
