/*Fonts*/
body{
 font-size:12px;
 opacity: 0;
}

.ms-datepicker-html body{
opacity: 1 !important;
}

.ms-aclinv-share-button
{
 color:#444 !important;
}

#O365_MainLink_NavMenu {
    background-color: #990000;
}

.o365spo.o365cst.o365cs-base .o365cs-topnavBGColor-2, .o365cs-topnavBGColor-2.o365spo.o365cst.o365cs-base {
    background-color: #990000 !important;
}

.o365cst.o365cs-base .ms-bgc-nt, .o365cst.o365cs-base .ms-bgc-nt-h:hover {
    background-color: #990000 !important;
}

/* hide "About Me" and "View Account" from the top right menu */
#O365_SubLink_ShellAboutMe, #O365_SubLink_ViewAccount, #O365_SubLink_SuiteMenu_zz2_ID_PersonalInformation {
     display: none;
}

.article-content{
	background-color:#ffffff;
	margin:5px 0 0;	
	max-width: 960px;
    margin: auto;
}
.article-body{ background-color:#EBEBEB;}

.article-content p {
	padding:0 10px;
	line-height:24px;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4{
	padding-left:10px;
}

@font-face {
    font-family: SommetLight;
    src: url(../fonts/sommetlight-webfont.woff);
}


#s4-bodyContainer h1, .heading-feature, .heading-section, .heading-section-tile, .heading-card, .heading-tile {
    font-family: SommetLight;
}


#s4-bodyContainer h1, .heading-section, .heading-section-tile, .heading-card {
    color: #000000;  /* ASB Connect #004372; */
}

#s4-bodyContainer h1 {
    font-size: 42px;
    line-height: 48px;
    margin: 24px 0;
}

#s4-bodyContainer input{
    background: #fff;
}

.heading-feature {
    font-size: 30px;
    line-height: 40px;
}

.heading-section {
    font-size: 24px;
    line-height: 30px;
}

.heading-card, .heading-section-tile, .heading-tile {
    font-size: 18px;
}

#s4-bodyContainer h2, #s4-bodyContainer h3, #s4-bodyContainer h4, #s4-bodyContainer h5, #s4-bodyContainer li, #s4-bodyContainer p, #s4-bodyContainer a, .link-featured, .text-subtitle, .text-intro {
    font-family: Arial;
}

#s4-bodyContainer h2, #s4-bodyContainer h3{
	color:black;
}

#s4-bodyContainer h5 {
    color: #004372;
}

#s4-bodyContainer h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

#s4-bodyContainer h3 {
    margin-bottom: 12px;
}

#s4-bodyContainer h3, .into-text {
    font-size: 16px;
}

#s4-bodyContainer h4, #s4-bodyContainer h5 {
    font-size: 12px;
}

#s4-bodyContainer h4 {
    text-transform: uppercase;
}

#s4-bodyContainer h5, .text-bold {
    font-weight: bold;
}

#s4-bodyContainer p, .text-intro {
    color: #2f323a;
}

#s4-bodyContainer p, #s4-bodyContainer a, #s4-bodyContainer li, .link-featured {
    font-size: 14px;
}

#s4-bodyContainer p {
    line-height: 24px;
    margin: 12px 0;
}

.link-featured ,  .heading-feature , .heading-section-tile{
    color: #990000; /* ASB Connect original color #0098c3 */
}

#s4-bodyContainer a {
    color: #990000;  /* ASB Connect original color #00568e */
}

.text-subtitle {
    color: #ABABAB;
}

.text-11{
font-size: 11px;
}

#s4-bodyContainer li {
    line-height: 24px;
    margin-left: 16px;
}

/* get rid of extra height */
#s4-bodyContainer img {
    /*display: block;*/
}

/*------------------------------*\
    Grid System
\*------------------------------*/
.row, .row-m {
    /*margin-top: 0.5rem;*/
    display: flex;
    display: -webkit-flex; /*safari */
    flex-direction: row;
    -webkit-flex-direction: row; /*safari*/
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari */
    
}
.row-m {
    /*margin-top: 0.5rem;*/
    margin-left: -16px;
}

.row-nw {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap; /* Safari */
}

.row-vt {
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */
}

.row-vc {
    align-items: center;
     -webkit-align-items: center; /* Safari */
}

.row-vb {
    align-items: flex-end;
     -webkit-align-items: flex-end; /* Safari */
}

.row-c {
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
}

.row-l{
justify-content: flex-start;
  -webkit-justify-content: flex-start; /* Safari */
}


.row-r {
    justify-content: flex-end;
    -webkit-justify-content: flex-end; /* Safari */
}

.row-sa {
    justify-content: space-around;
     -webkit-justify-content: space-around; /* Safari */
}

.row-sb {
    justify-content: space-between;
     -webkit-justify-content: space-between; /* Safari */
}


.row-v {
    /*margin-top: 0.5rem;*/
    display: flex;
   display: -webkit-flex; /*safari*/
    flex-direction: column;
     -webkit-flex-direction: column; /*safari*/
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari */
}

.col {
    /*border: 1px solid;*/
    box-sizing: border-box;
    margin-bottom: 16px;
    justify-content: center;
     -webkit-justify-content: center; /* Safari */
}

#widgetsTab .col p{
 margin: 0; 
}

.col-m {
    /*border: 1px solid;*/
    box-sizing: border-box;
    margin-bottom: 16px;
    justify-content: center;
      -webkit-justify-content: center; /* Safari */
    margin-left: 16px;
}

.col-nm {
    /*border: 1px solid;*/
    box-sizing: border-box;
    margin-bottom:0px;
    margin-left: 0px;
    justify-content: center;
      -webkit-justify-content: center; /* Safari */
}


.col-c {
    /*border: 1px solid;*/
    box-sizing: border-box;
    margin-top: 8px;
    justify-content: center;
      -webkit-justify-content: center; /* Safari */
    text-align: center;
}

.col-1 {
    flex-basis: 5%;
    -webkit-flex-basis: 5%; /* Safari */
}

.col-2 {
    flex-basis: 10%;
     -webkit-flex-basis: 10%; /* Safari */
}

.col-3 {
    flex-basis: 15%;
     -webkit-flex-basis: 15%; /* Safari */
}

.col-4 {
    flex-basis: 20%;
     -webkit-flex-basis: 20%; /* Safari */
}

.col-5 {
    flex-basis: 25%;
     -webkit-flex-basis: 25%; /* Safari */
}

.col-6 {
    flex-basis: 30%;
     -webkit-flex-basis: 30%; /* Safari */
}

.col-7 {
    flex-basis: 35%;
     -webkit-flex-basis: 35%; /* Safari */
}

.col-8 {
    flex-basis: 45%;
     -webkit-flex-basis: 45%; /* Safari */
}

.col-9 {
    flex-basis: 40%;
     -webkit-flex-basis: 40%; /* Safari */
}

.col-10 {
    flex-basis: 50%;
     -webkit-flex-basis: 50%; /* Safari */
}

.col-11 {
    flex-basis: 55%;
     -webkit-flex-basis: 55%; /* Safari */
}

.col-12 {
    flex-basis: 60%;
     -webkit-flex-basis: 60%; /* Safari */
}

.col-13 {
    flex-basis: 65%;
     -webkit-flex-basis: 65%; /* Safari */
}

.col-14 {
    flex-basis: 70%;
     -webkit-flex-basis: 70%; /* Safari */
}

.col-15 {
    flex-basis: 75%;
     -webkit-flex-basis: 75%; /* Safari */
}

.col-16 {
    flex-basis: 80%;
     -webkit-flex-basis: 80%; /* Safari */
}

.col-17 {
    flex-basis: 85%;
     -webkit-flex-basis: 85%; /* Safari */
}

.col-18 {
    flex-basis: 90%;
     -webkit-flex-basis: 90%; /* Safari */
}

.col-19 {
    flex-basis: 95%;
     -webkit-flex-basis: 95%; /* Safari */
}

.col-20 {
    flex-basis: 100%;
     -webkit-flex-basis: 5%; /* Safari */
}

.col-1-3 {
    flex-basis: 33.333%;
     -webkit-flex-basis: 33.333%; /* Safari */
}

.col-2-3 {
    flex-basis: 66.666%;
     -webkit-flex-basis: 66.666%; /* Safari */
}

.col-special-13 {
    flex-basis: 13%;
     -webkit-flex-basis: 13%; /* Safari */
}

.row-flex {
    display: flex;
    margin-bottom: 0px;
}

@media only screen and (max-width: 550px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: none;
        width: auto;
    }

    .col + .col {
        margin-left: 0;
    }
}

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }

    .col {
        margin-bottom: 10px;
    }

    .row:last-child .col:last-child {
        margin-bottom: 0;
    }
}
/*------------------------------*\
    Masonry Stack System
\*------------------------------*/
.masonry-stack {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
}

.masonry-item {
    display: inline-block;
    margin: 0 0 16px;
}

/*------------------------------*\
    Styling
\*------------------------------*/

.centre, .search-item-utilityrow{
    text-align: center;
    /*padding-top: 16px;*/
}

.centre-img {
    display:block;
    margin:auto;
}

.m-t-lg {
    margin-top: 24px;
}

.m-t-xlg {
    margin-top: 32px;
}

.m-r-lg {
    margin-right: 24px;
}

.m-r-xlg {
    margin-right: 32px;
}

.m-r-sm{
 margin-right: 8px;
}

.m-b-lg {
    margin-bottom: 24px;
}

.m-l-xlg {
    margin-left: 32px;
}

.m-l-lg {
    margin-left: 24px;
}

.m-l-sm{
 margin-left: 8px;
}

.m-l-xsm{
 margin-left: 4px;
}

.p-t-lg {
    padding-top: 24px;
}

.p-t-sm {
    padding-top: 8px;
}

.p-r-lg {
    padding-right: 24px;
}

.p-b-lg {
    padding-bottom: 24px;
}


.p-l-xlg {
    padding-left: 32px;
}

.p-l-lg {
    padding-left: 24px;
}

.p-l-sm {
    padding-left: 8px;
}

.p-l-xsm {
    padding-left: 4px;
}

.p-t-xlg {
    padding-top: 32px;
}

.m-t-md {
    margin-top: 16px;
}
.m-t-xlg {
    margin-top: 32px;
}

.m-r-md {
    margin-right: 16px;
}

.m-b-md {
    margin-bottom: 16px;
}

.m-b-xlg {
    margin-bottom: 32px;
}

.m-l-md {
    margin-left: 16px;
}

.p-t-md {
    padding-top: 16px;
}

.p-r-sm{
    padding-right: 8px;
}

.p-r-md {
    padding-right: 16px;
}

.p-b-md {
    padding-bottom: 16px;
}

.p-l-md {
    padding-left: 16px;
}

.p-b-sm {
    padding-bottom: 8px;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-t-0 {
    padding-top: 0;
}

.m-l-0 {
    margin-left: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.connectLogoDivider {
    border-left: 1px solid #d4d6db;
    height: 54px;
}

.alert-next a:hover,
.alert-close a:hover {
    text-decoration: none;
}

.alert-header {
    color: #022e51;
    text-transform: uppercase;
    font-weight: bold;
}

.icons {
    color: white;
}

.icons-seagreen {
    color: #0098c2;
}

.icons-darkred {
    color: #9f0a0e;
}

.icons-amber {
    color: #ff531a;
}

.icons-green {
    color: #73ad21;
}

.icons-lightseagreen {
    color: #0098c3;
}

.icons-aux {
    color: #7e858f;
}

.icons-aux-tabs {
    color: #0296c4;
    padding-right: 5px;
}

.icons-small {
    font-size: 10px !important;
}

.icons-medium {
    font-size: 16px !important;
}

.icons-large{
     font-size: 18px !important;
}
.search-item .icons-large{
    padding-right:8px;
}


.icons-widget-close {
    font-size: 16px !important;
    padding-right: 8px;
    padding-top: 8px;
    color: #dfe0e4;
    opacity: 0.7;
}

#editProfile:hover .fa-pencil-square-o:before {
    content: "\f040";
}


.btn {
    color: #ffffff !important;   /* replaced from #2c3e50 used by ASB Connect */
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 11px !important;
    font-family: Arial !important;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 -2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
        line-height: normal;
}

.btn-nbr{
    border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
     -webkit-box-shadow: none !important;
     box-shadow:none !important;
     border-bottom: none!important;
}

.btn-lg{
    font-size:16px !important;
    padding: 12px 24px;
}

    .btn:hover,
    .btn:focus {
        text-decoration: none;
    }



/*.btn:active,
    .btn.active {
        background-image: none;
        
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }*/


.btn-primary {
    background-color: #4d0000; /* replaced from #5BC6E8 used by ASB Connect */
}

.btn-footer {
    background-color: #4d0000;   /* replaced from #0198c3 used by ASB Connect */
    color: #fff !important;
}

.btn-nm-l{
    margin-left: 0px;
}
.btn-anchor{
    padding: 8px;
}

.btn-primary-nbg{
    background: none !important;
    border: #5BC6E8 1px solid;
    color: #5bc6e8 !important;
}

    .btn-primary:hover,
    .btn-primary:focus .open > .dropdown-toggle.btn-primary {
        color: #2c3e50;
        background-color: #4d0000;     /* replaced from rgba(0,0,0, 0.2) used by ASB Connect */
    }

/*.btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-image: none;
    }*/

.btn-widget {
    background-color: #f9f9f9;
}

.btn-widget-darker{
    background-color: #DEDEDE;
}

.btn-aux {
    color: #7e858f;
    background-color: #f9f9f9;
}


.btn-nm{
    margin-left:0px;
}

.btn-aux-tab {
    background-color: #c3c7d2;
}

.form-helper-text{
    padding-top: 8px;
    font-size:12px; 
    font-weight:normal;
    color: #7e8490;
}

.inputbox {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c2c7d1 !important;
    outline: 0;
    min-height: 32px;
    min-width: 200px;
}


.inputbox-wide{
    min-width: 400px;
}

.inputbox-small{
    min-width: 150px;
}


#page-content-wrapper {
    width: 100%;
}
/*Changed by Ajo*/
#sidebar-wrapper {
    /*background-image: url(../images/sidebar-bg.gif);*/
    /*background-repeat: repeat-y;*/
    min-width: 245px;
    max-width: 245px;
    float: left;
    background: #57585a;  /* replaced from #2d3e50 used by ASB Connect */
    padding-left: 0px;
    /*margin-bottom: 30px;*/
    list-style: none;
    /*min-height:1000px;*/
}


/*Main Nav*/
#navmenu ul,
#navmenu ul li,
#navmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #navmenu ul ul {
        display: none;
    }

.align-right {
    float: right;
}

#navmenu > ul > li > a.activeNav {
    background: #990000 !important;  /* replaced from #5bc6e8 used by ASB Connect */
    color: #000000 !important;
}

#navmenu ul ul li > a.activeNav {
    color: #990000 !important; /* replaced from #5bc6e8 used by ASB Connect */
}

#navmenu ul li > a.activeNav > span > i {
    color: #fff;
}


#navmenu > ul > li > a {
    padding: 20px 20px;
    border-bottom: 1px solid #808285;  /* replaced from #435263 used by ASB Connect */
    cursor: pointer;
    z-index: 2;
    font-size: 13px;
    text-transform: capitalize;
    /* font-weight: bold; */
    text-decoration: none;
    color: #ffffff;
    background: #57585a;  /* replaced from #2d3e50 used by ASB Connect */
}

    #navmenu > ul > li > a:hover,
    #navmenu > ul > li.active > a,
    #navmenu > ul > li.open > a{
        background: #990000; /* replaced from #5bc6e8 used by ASB Connect */
        color: #000000;
    }

        #navmenu > ul > li.open > a > span.holder,
        #navmenu > ul > li.open > a > span > i,
         #navmenu > ul > li > a:hover > span > i {
            color: #ffffff;
        }

#navmenu > ul > li.open > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
}

#navmenu > ul > li:last-child > a,
#navmenu > ul > li.last > a {
}

.holder {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 6px;
    height: 6px;
    right: 20px;
    z-index: 10;
    top: 35%;
}

#navmenu > ul > li > a:hover > span::after,
#navmenu > ul > li.active > a > span::after,
#navmenu > ul > li.open > a > span::after {
}

#navmenu ul ul li a {
    cursor: pointer;
    padding: 10px 40px;
    z-index: 1;
    text-decoration: none;
    font-size: 12px;
    color: #eeeeee;
    background: #808285;  /* replaced from #435263 used by ASB Connect */
    padding-left: 52px;
}

#navmenu ul ul li:hover > a,
#navmenu ul ul li.open > a,
#navmenu ul ul li.active > a {
    background: #424852;
    color: #ffffff;
}

#navmenu ul ul li:first-child > a {
    box-shadow: none;
}

#navmenu ul ul ul li:first-child > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#navmenu ul ul ul li a {
    padding-left: 30px;
}

#navmenu > ul > li > ul > li:last-child > a,
#navmenu > ul > li > ul > li.last > a {
}

#navmenu > ul > li > ul > li.open:last-child > a,
#navmenu > ul > li > ul > li.last.open > a {
}

#navmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0;
}

#navmenu ul ul li.has-sub > a::after {
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: 20px;
    z-index: 10;
    top: 11.5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#navmenu ul ul li.active > a::after,
#navmenu ul ul li.open > a::after,
#navmenu ul ul li > a:hover::after {
}

#navmenu i {
    margin-right: 8px;
    color: #7e848f;
}


#contentBox {
    margin-right: 0px;
    margin-left: 0px;
    min-width: 0px;
    width:calc(100% - 245px);
    float:left;
}

/*Auxilary Row*/
#auxTabs {
    background: transparent;
    border: none;
}

    #auxTabs .ui-widget-header {
        background: #dfe0e4;
        border: none;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        height: 54px;
    }


    #auxTabs .ui-tabs-nav .ui-state-default {
        /* background: none; */
        height: 54px;
        background: #dfe0e4;
    }

#auxTabs a{
    color:#2d3e4e;
}

tabs-min .ui-tabs-nav .ui-state-active {
    border: none;
    background-color: #f0f0f0;
}

#auxTabs .ui-tabs-nav .ui-state-default a {
    color: #2c3e52;
     font-size: 11px;
     padding: 16px;
    /* height: 54px; */
    /*padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;*/
}

.aux-chevron{
    color: #7e848f;
}
#auxTabs .ui-tabs-nav .ui-state-active a {
    color: #2c3e52 !important;
}

#auxTabs.ui-tabs .ui-tabs-panel {
    background: #f0f0f0;
}

#auxTabHeaders.ui-widget-header .ui-state-default {
    font-weight: normal;
}

#auxTabHeaders li {
    margin-left: 0px;
}

.ui-state-focus li, a {
    outline-color:transparent;

}

#AuxRow {
    background-color: #dfe0e4;
}

#auxPersonalisationSection {
    float: right !important;
    padding-top: 10px;
    padding-right: 24px;
}

#auxTabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #f0f0f0 !important;
}

#auxTabs.ui-tabs .ui-tabs-panel {
    padding-bottom: 0px !important;
}

#toolsList {
    list-style: none;
    padding: 0;
    text-align: center;
    overflow: auto;
    padding-left: 38px;
    border-right: 1px solid #ffffff;
    margin-top: 0;
}

.tools-item {
      /*float: left;*/
        margin: 8px;
        /*width: 10%;*/
        background-color: #ffffff;
        min-width: 125px;
            padding-left: 4px;
    padding-right: 4px;
}
.tools-item span{
    display: block;
    clear: both;
    background: #5A9BD5;
    padding: 25px 0;
}

.tools-item a {
            /* background: #ffffff; */
            display: block;
            width: 100%;
            padding: 24px 0;
            text-decoration: none;
            transition: 0.4s;
            font-weight: bold;
            color: #2f3239;
        }

.tools-item:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

    #toolsList li {
        /* margin-bottom:15px; */
    }

        #toolsList li span {
            display: block;
            clear: both;
            background: #5A9BD5;
            padding: 25px 0;
        }

    #toolsList li {
        float: left;
        margin: 8px;
        width: 10%;
        background-color: #ffffff;
    }

        #toolsList li a {
            /* background: #ffffff; */
            display: block;
            width: 100%;
            padding: 24px 0;
            text-decoration: none;
            transition: 0.4s;
            font-weight: bold;
            color: #2f3239;
        }

            #toolsList li a:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }


.auxGeneralList {
    padding: 0;
    /* text-align:center; */
    overflow: auto;
    padding-left: 30px;
    border-right: 1px solid #ffffff;
    margin-top: 0;
    min-height: 150px;
}

    .auxGeneralList li {
        list-style: none;
        float: left;
        margin: 8px;
        
        min-width: 250px;
        border-bottom: 1px solid #c4c8d3;
    }

        .auxGeneralList li a {
            color: #2f3239;
            text-decoration: none;
        }

            .auxGeneralList li a:hover {
                background: #cf5;
            }

            .auxGeneralList li a div {
                padding: 8px;
            }

                .auxGeneralList li a div span i {
                    color: #c4c8d3;
                    padding-right: 16px;
                }

.edit-button-round {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: dashed;
    border-radius: 50%;
    margin: auto;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

    .edit-button-round a {
        text-decoration: none;
    }

#connectFooter {
    background: #990000;  /* replaced from #5bc6e8 used by ASB Connect */
}

.content-area-background,.iass-search-section {
   background: #EBEBEB;
    background-image: url(../images/connect-bg.png);
    background-repeat: no-repeat;
    border-top: 1px solid #d4d6db;
    background-size: cover;
}
.iass-search-section 
{
    padding-top: 16px;
}
/*#pageHeaderPlaceHolderWrapper, #alertsSection, #contentBox {
    margin-left: 80px;
    margin-right: 80px;
}*/

/*#contentBox {
    padding-top: 16px;
}*/

/*Display Templates*/
.container {
    position: relative;
}

.overlay-text {
    opacity: 1.0;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 16px;
}

.overlay-text .heading-feature{
    color:white;
}

.overlay-text .heading-section{
    color:white;
}

.text-featured {
    color: white;
    background: #337222;  /* ASB Connect #029ac3 */
    top: 8px;
    left: 16px;
    padding: 5px 10px;
}

.overlay-category {
    opacity: 1.0;
    color: white;
    background: #990000;  /* ASB Connect #029ac3 */
    position: absolute;
    top: 8px;
     left: 8px;
    padding: 4px;
     font-size: 11px;
    text-transform: uppercase;
}

.overlay-pager {
    color: #888f99;
    padding: 0px;
    margin: 0px;
    opacity: 1.0;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

    .overlay-pager i {
        cursor: pointer;
        cursor: hand;
        padding-right: 8px;
    }


.slidePagerActive {
    color: #ffffff;
}

.slides {
    position: relative;
}

.widget-items {
    list-style: none;
    padding-left: 0px;
}
.widget-items li {
    margin-left: 0px !important;
    line-height: 1.5em !important;
    margin-bottom:12px;
}

.widget-list-icon {
    font-size: 16px !important;
}


.widget-icon-color {
    color: #ffffff;
}

.widget-icon-background {
    color: #00bcd4;
}



.news-tile-container{
    background: #ffffff;
    max-height: 150px;
    min-height: 150px;
   max-width: 234px;

}

.news-tile-container-large{
 background: #ffffff;
    max-height: 150px;
    min-height: 150px;
	  max-width: 309px;
}

.news-tile-container-text{

        padding: 16px;

}

.card-featured{
 background: #ffffff;
}

.widget-container {
    background: #ffffff;
    min-width: 310px;
    max-width: 310px;
    line-height: 1.5;
    font-family: Arial;
}

.resource-container {
    background: #ffffff;
    min-width: 309px;
    max-width: 309px;
}

.widget-bg-1{
     background: #0067a9;
    color: #ffffff;
}

.widget-bg-1 .heading-card {
        color: #ffffff;
    }

.widget-myprofile {
    background: #4d5464;
    color: #ffffff;
}

    .widget-myprofile .heading-card {
        color: #ffffff;
    }

.widget-featured-people .heading-card {
    background: #98bf0e;
}

.widget-featured-people-image-container {
    background: linear-gradient(180deg, #98bf0e 50%, #FFFFFF 50%);
}


#userWidgetsSection {
    width: 66.04%;
}

.widget-static-link{
text-transform: uppercase;
color: #5bc6e8 !important;
 font-size: 12px !important;
 
}
.widget-static-link:hover{
  text-decoration: none;
  }

.event-date-box {
    background: #98bf0e;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    height: 50px;
    width: 50px;
    min-width:50px;
    line-height: 1;
    padding: 8px;
    font-weight: bold;
    margin-right: 16px;
    font-family: Arial;
}

.event-month {
    font-weight: normal !important;
    font-size: 12px !important;
}


.roundImage {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.roundImage-md {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}


.roundImage-app {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.roundImage-app-sm {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.text-upper {
    text-transform: uppercase;
}

.clickable {
    cursor: pointer;
}

.overlay-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-profile-Image {
    background-color: rgba(0, 0, 0, 0.5);

}

.overlay-contents {
    margin: auto;
}

.relative-pos {
    position: relative;
}

/* .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/Style Library/Bus/Images/loader.gif') 
                50% 50% 
                no-repeat;
} */

/*body.loading {
    overflow: hidden;
}*/


    /*body.loading .modal {
        display: block;
    }*/

	/* added .centre-page-content-fass */
.centre-page-content, .centre-page-content-fass, .connect-search-section  {
    max-width: 960px;
    margin: auto;
  
}	

.centre-page-content-editMode {
    max-width: 1500px;
    margin: auto;
  
}

.tab-header{
        font-size: 14px;
    text-transform: uppercase;
    line-height: 2;
    color: #004372;
}

.con-tabs.ui-widget-header{
    border: none;
    background:none;
}

.tab-active {
    border-bottom: 4px solid #5bc6e8;
    font-weight: bold;
}

/*SP Overrides*/
#titleAreaBox {
    margin: 0px;
}

#s4-titlerow {
    padding-top: 16px;
    padding-bottom: 16px;
}

#contentRow {
    padding-top: 0px;
    font-family: arial;
}

#siteIcon {
    min-width: 200px !important;
    max-width: 200px !important;
}

.ms-webpartzone-cell {
    margin-bottom: auto;
}


/*#auxTabs li:hover, a:hover {
     background-color: rgba(0,0,0, 0.1);
}*/


#auxTabs li:hover {
     background-color: rgba(0,0,0, 0.1);
}


/* @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   #HeaderRightCol{
   width: 52.5%;
   
   }
   .news-tile-row{
width: 52.5%;
}
.campaign-tile-row{
width:32.29%;
}
.ms-fullWidth
width:auto !important;

.ms-webpart-zone{
display: flex !important;
}

.ms-webpart-cell-vertical{
display: flex;
}

.ms-webpart-chrome-fullWidth{
width:auto !important;
}

.ms-webpart-chrome-vertical{
display: flex;
}

.ms-WPBody
{
width:auto !important;
}

.ms-webpart-chrome-fullWidth
{
width:auto !important;
}
} */

/* #WebPartWPQ2{
width: 504px;
}
 */
.col-remaining {
    /*border: 1px solid;*/
    flex: 1;
}

   .news-tile-row{
width: 504px;
}
 






.container-img {
    position:relative;
     /*background-color:#98bf0e;*/
}
.container-img img {
    vertical-align:top;
}
.container-img:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.1);
    opacity:0;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.container-img:hover:after {
    opacity:1;
     
}

.personalise-items-container{
    background: #fff;
    border: 1px solid #c2c7d1;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

}
.personalise-items-container ul{
    list-style: none;
    margin-left:0px;
    padding: 0px;
    min-height: 200px;
    height:100%;
        /*background: rebeccapurple;*/
}
.personalise-items-container li{
    background: #f9f9f9;
    margin-bottom: 8px;
    margin-left: 0px !important;
    padding: 8px 16px 8px 16px;
    border: 1px solid #c2c7d1;
    border-radius: 2px;
    cursor: move;
}

.personalise-items-container li.static-item{
 opacity: 0.5;
    cursor:not-allowed;
}
.personalise-items-container li .col{
margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.5;
}

.widget-fixed{
    display: none !important;
}



div.edit-row:hover span.edit-item{
     background-color: rgba(0, 0, 0, 0.1);
     cursor: pointer;
}

div.edit-row span.edit-item{
    padding: 4px;
}


.form .form-field-group{
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
}

.form input, .inputbox-textarea{
	background: #f4f4f4 !important;
	
}


.inputbox-textarea {
    height: 80px;

}

.req-fld{
	color: red;
}

.req-val-highlight{
        border: red solid 1px!important;
}

.icon-move{
    font-size: 24px !important;
color: #c7c8cd !important;
}

.icon-background-1{
color:  #c7c8cd;
}

.icon-background-2{
color: #888e98;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select {
 background-image: linear-gradient(45deg, transparent 50%, #808080 50%), linear-gradient(135deg, #808080 50%, transparent 50%), linear-gradient(to right, #CCC, #CCC);
background-repeat: no-repeat;
background-position: calc(100% - 10px), calc(100% - 5px), calc(100% - 2.5em) 0.5em;
background-size: 5px 5px, 5px 5px, 0px 1.5em;
}
select {
    background-color: #FFF;
display: inline-block;
font-family: inherit;
font-style: inherit;
font-weight: inherit;
font-size: inherit;
font-size-adjust: inherit;
font-stretch: inherit;
font-feature-settings: inherit;
font-language-override: inherit;
font-kerning: inherit;
font-synthesis: inherit;
font-variant: inherit;
line-height: 1.5em;
margin: 0px;
box-sizing: border-box;
-moz-appearance: none;
padding:0.2em 3.5em 0.2em 0.2em;
border: 1px solid #C2C7D1;
border-radius: 0px;
}

.grid-pager-link{
    padding: 8px;
} 
.grid-pager-selected{
    color: black !important;;
}
.grid-pager-link:hover{
    text-decoration: none;
} 
.container-info, .container-info-padded{
    background: #fff;
    word-break:break-word;
}
.container-info-padded{
    padding:24px;
 }
.border{
    border-color: #C2C7D1;
    
}
.border-dashed{
    border: 1px dashed #c2c7d1;
}
.border-tb{
    border-bottom: 1px solid #C2C7D1;
    border-top: 1px solid #C2C7D1;
}
.border-t{
    border-top: 1px solid #C2C7D1
}
.border-b{
   border-bottom: 1px solid #C2C7D1;
}
.border-l{
   border-left: 1px solid #C2C7D1;
}
.border-r{
   border-right: 1px solid #C2C7D1;
}
.bb-dyanmic-conatiner, .bb-static-conatiner{
    padding: 32px;
}
.bb-static-conatiner{
    max-width: 472px;
    min-width: 472px;
}
.bb-dyanmic-conatiner  a:hover, .bb-static-conatiner  a:hover{
    text-decoration: none;
}
.bb-featured-links{
    line-height: 2.4;
}
.roundImage-90 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.search-refiner-container{
    max-width: 21.75%;
    /*IE-11 Fix*/
    min-width: 172px;
}

.search-refiner-container-sortableDDFix{
    width: 21.75%;
    /*IE-11 Fix*/
    min-width: 172px;
    margin-top: 70px;/*required for pages with sorting dropdown*/
}

.connect-search-section .ms-ref-refinername{
    margin-bottom: 24px;
}		
.connect-search-section .ms-srch-result{
    margin-top: 0px;
}
.container-info .ms-srch-people-outerContainer {
    width: inherit;
    padding: 0px;
    margin:0px;
}
.container-info .ms-srch-people-item, .ms-srch-item {
    width: inherit;
     /*padding: 0px;*/
     margin: 0px;
}
.tag-item{
    padding: 4px;
    margin-right: 4px;
    background: #e8e8e8 ;
}
.tag-item a{
  color: #2f3239 !important;
  font-size: 12px !important;
  cursor: pointer;
}
.tag-item a:hover{
    text-decoration: none;
}
.icon-search-person{
    color:#c1c8d2;
}
.icon-search-color {
    color:#777;
}
.icon-feature-color {
    color:#888e9a;
}
.icon-search-background {
    color: #e9e9eb;
}
.text-right{
    text-align: right;
}
.alpahbetRefiner:hover{
    text-decoration: none;
}
.connect-search-section .ms-ref-ctrl{
      max-width: 200px; 
     margin: 16px;
}
.connect-search-section .ms-webpart-titleText{
    font-family: SommetLight !important;
    margin-left: 16px;
}
.connect-search-section .ms-ref-refinername{
      border-top: 1px solid #C2C7D1;
      padding-top: 16px;
      max-width: 200px;
}
.connect-search-section a.ms-ref-refinername{
    color:#2f3239 !important;;
    text-transform: uppercase;
    font-size: 11px !important;
    padding-bottom: 0px;
}
.connect-search-section .ms-ref-name{
     color:#2f3239 !important;
    font-size: 12px !important;
}
.connect-search-section .ms-ref-uparrow, .ms-ref-downarrow{
    margin-top: 0px;
    visibility: collapse;
}
.connect-search-section  .ms-srch-item{
}
.newspage-header-details{
font-family: arial;
font-size: 14px;
color: #31313B;
}
.tile-text{
    color: #31313B !important;
text-decoration: none !important;
}
.popular-topics-container{
    padding: 24px 16px 24px 16px;
    background: #d0f2f7;
    margin-bottom: 16px;
    border: solid 1px #5bc6e8;
}
.accordian-header{
    font-weight: lighter;
}
#auxTabHeaders li{
    border-right: 1px solid #ffffff;
}
.ui-accordion-header{
 padding-left: 16px !important ;
}
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute !important;
  left: auto!important;
  right: 16px !important;
}
.accordian-minus:after{
    content: "-";
    color: #000;
}
.accordian-plus:after{
    content: "+";
     color: #000;
}

.text-grid-date {
     font-size: 12px;
     line-height: 18px;
}

.text-grid-summary{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
     font-size: 12px;
     line-height: 18px;
}
.search-item{
     min-width: 680px;
     max-width: 680px;
}
.search-item-description{
    min-width:546px;
}
/*IE Fix*/
.grid-tiles-container{
    max-width:784px;
}
.grid-tiles-large-container{
     max-width:976px;
}
.campaign-tile-row{
    display: block;
}
.refiner-checkbox {
  /*width: 20px;*/
  position: relative;
  /*margin: 20px auto;*/
}
.refiner-checkbox label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #c2c7d1;
  /*box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);*/
}
.refiner-checkbox label:after {
  content: '';
  width: 8px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid #3eb4c6;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.refiner-checkbox label:hover::after {
  opacity: 0.3;
}
.refiner-checkbox input[type=checkbox] {
  visibility: hidden;
}
.refiner-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.ie-flex-fix-1{
    max-width: 591px;
}
.ie-flex-fix-2{
    max-width: 272px;
}
select::-ms-expand {
    display: none;
}
.fake-bullet{
    font-family: SommetLight;
    font-size: 12px;
}		

.img-gradient{
  position:relative;
  /*display:inline-block;*/
}
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 45%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0.7) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 45%,rgba(0,0,0,0.7) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

button:focus {outline:0;}

.notification-area{
    background: #6cf;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 4px;
}

.pop-topic-item{
    font-weight: normal;
    padding-left: 6px;
}


.ui-widget.connect-dialog {
    font-family: Arial,Verdana,sans-serif;
    font-size: 14px;
}

.ui-widget-content.connect-dialog {
    background: #fff;
    border: 1px solid #c2c7d1;
    padding: 24px 16px;
}

.ui-dialog.connect-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.connect-dialog .ui-widget-header {
    background: none;
    border: 0;
    color: #004372;
    font-weight: normal;
}

.ui-dialog.connect-dialog .ui-dialog-titlebar {
    padding: 0;
    margin-bottom: 16px;
    font-size: 18px;
     font-family: SommetLight, Arial;
}
.ui-dialog.connect-dialog .ui-dialog-buttonpane {
  background: none;
  border-width: 0px;
  padding: 0px;
  margin-top: 24px;
  }
  
 .ui-dialog.connect-dialog .ui-button-text-only .ui-button-text{
    padding: 0px;
  }

  .ui-dialog.connect-dialog .ui-button{
      font-weight: normal;
      padding: 10px 16px;
     margin-right: 16px;
  
}

  .no-close .ui-dialog-titlebar-close {display: none }

  .ui-widget-overlay.custom-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.6;  
}

  fieldset {
    border: 0;
}

   /*.ms-srch-result #ResultHeader{
 margin-top:-45px;
 margin-bottom:16px;
 }*/
    .ms-srch-result #ResultHeader ul::before {
    content: "Sort by";
    font-family: arial, verdana;
    font-size: 14px;
    font-weight: bold;
    color: #2e3136;
    margin-right: 8px;
   

    }

.nav-icon{
    min-width: 20px;
}
    /*.connect-search-section{
        margin-top:45px;
    }*/

.form-lable{
    min-width: 60px;
    }

.form-lable-checkbox{
    font-weight:normal;
}

.tour-overlay {
  display: none;
  background: #000;
  opacity: 0.5;
  z-index: 9997;
  min-height: 100%;
  height: 100%;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
.tour-highlight {
  position: relative;
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba( 0, 0, 0, 0.6 );
  z-index: 9998!important;
  z-index:inherit;
}

.auxGeneralList li a , .tools-item a, .link-small {
    font-size: 12px !important;
}

#customBreadcrumb, #customBreadcrumb a {
    font-size: 12px ;
    color: #444 ;
}
.currpage-breadcrumb{
     color: #000000;  /* ASB Connect original colour #0098c3 */
}

.crumb:last-child{
     color: #000000 ; /* ASB Connect original colour #0098c3 */
}

.refiner-action-links{
        font-size: 12px !important;
}

.letter-refiner-item{
       padding-right: 12px;
    padding-left: 12px;

}

.editProfileButtonContainer {
    margin-left: -10px;
}

.dispSection div{
    margin-bottom: 4px;
}
.editSection div {
     margin-bottom: 8px;
}

.dfwp-list .item{
 margin-left:0px!important; 
  margin-bottom: 8px;
  margin-top: 8px
}

.link-item a:before {
  content: '\f0f6';
  font-family: 'FontAwesome';
  float: left;
  color: #898d99;
  margin-right: 8px;
}

.link-item a {
  font-size: 12px!important;
    color: #0098c3 !important;

}

.dfwp-list li{
      border-bottom: 1px solid #e8e8e8 ;
        margin-left: 0px!important;
}

.groupheader{
    text-transform: uppercase;
    font-size: 11px;
    font-family: Arial;
    margin-left: 0px!important;
    padding-left:0px;
}

.personalise-item-header-link{
    font-size: 12px;
    line-height: 1.5;
    color: #444;
}

.footer{
    max-width: 960px;
    line-height: 1.6;
    font-family: Arial;
    color: black;
    font-size: 12px;
    margin: auto;
}

.rend-6{
max-width: 440px;
max-height: 340px;
}


.rend-5{
max-width: 244px;
max-height: 162px;
}

.rend-5{
max-width: 244px;
max-height: 162px;
}

.rend-7{
max-width: 310px;
max-height: 185px;
}

.rend-10{
max-width: 234px;	
max-height: 190px;		
}

.rend-12{
max-width: 309px;	
max-height: 190px;
}

.bb-header{
 background-image:url(../images/bb-header.jpg);
    min-height: 200px;
    color: #fff;
    font-size: 13px;
    background-size: cover;
}

.bb-header h1{
    color: #fff!important;
}

.bb-slogan{
    font-size: 16px;
}

.slider-nav-row{
    position:absolute;
    top: 43%;
    width: 100%;
}

.slider-nav-btn{
    padding: 10px 6px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

.slidet-nav-btn-overlay{
    background-color: rgba(0,0,0,0.5);
}


.text-limit-featured-news{
    overflow:hidden;
max-height: 80px;
}

.overlay-text-featured-news{
    overflow:hidden;
    max-height: 162px;
}

.text-limit-heading-tile{
        overflow:hidden;
max-height: 69px;
}

#s4-bodyContainer {
    padding-bottom: 0px;
    
}

/*need for smooth scrolling on ipad*/
#s4-workspace {
     -webkit-overflow-scrolling: touch;
}

.bb-dynamic-article-text{
    line-height: 18px;
}
.article-byline{
    font-size:14px;
}


.ui-accordion-header{
    margin-bottom: 0px!important;
}

.navmenu-fixed{
        position: fixed !important;
    width: 245px;
}

.navItem{
     position:relative;
}

.pagecontact-details{
    font-size:12px;
    line-height:1.3
}

.pagecontact-details a{
    font-size:12px !important;
}

/*class is applied to main nav to fix it to top of page when scrolling down*/
.main-nav-scrolled {
  position: fixed;
  top: 0;
}

/*class is applied to aux row to fix it to top of page when scrolling down*/
.aux-row-scrolled {
  position: fixed;
  top: 0;
  width: inherit;
 z-index:100;
  margin-bottom: 64px;
}

/*added this to make a soomther transiation when scrolling down the page */
.aux-row-scrollfix{
    /*margin-bottom: -64px;*/
}

/*added this to make a soomther transiation when scrolling down the page due to the fixed nav aux row above*/
.page-content-header-scrollFix{
    /*padding-top: 64px;*/
}

#SearchBox input{
    font-family: Arial;
    font-size:16px;
}

.featured-event-conatiner{
    margin-bottom:-20px;
}
.eventshome-picture3LinesContainer
{
max-width:750px !important;
}

.EventsItem-image-container
{
width:244px !important;
height:162px !important;
margin-left: 20px;
font-family:SommetLight !important;
}
.EventsItem-data-container
{
margin-left: 290px !important;
font-family:SommetLight !important;
max-width:540px !important;
overflow: hidden  !important;
padding-right:4px  !important;
}
.Event-homepage-heading{
color: #990000 !important;
font-family:SommetLight !important;
}
.staff-tile-container {
    background: #ffffff;
    max-height: 150px;
    min-height: 150px;
    max-width: 190px;
}
/*Additional classes from Faculty.css for staff search page*/
.ms-tileview-tile-titleTextMediumCollapsed
{
max-height:60px !important;
}
.ms-tileview-tile-detailsBox
{
top:90px !important;
}


.ms-table {
    table-layout: fixed;
}
#s4-bodyContainer .tableCol-75 {
	width:800px;
	margin:0px;
	padding:0px 10px 0px 0px;
}
.tableCol-75 .cell-margin {
	margin:0px;
}
.tableCol-75 .ms-webpartzone-cell {
  background: #fff;
  border-radius: 2px;
  margin: 0rem;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
}
.tableCol-75 .ms-webpartzone-cell {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#s4-bodyContainer .tableCol-25 {
	width:400px;
	margin:0px;
	padding:0px 0px 0px 10px;
}
.tableCol-25 {
	vertical-align:top;
}
#s4-bodyContainer .tableCol-25 .ms-webpart-zone {
    table-layout: fixed;
	width:400px;
}
#s4-bodyContainer .tableCol-25 .ms-webpart-cell-vertical {
    table-layout: fixed;
}
.tableCol-25 .ms-webpartzone-cell {
  background: #fff;
  border-radius: 2px;
  position: relative;
  margin: 0px 0px 20px 0px;
  padding: 20px;
  background-color: #ffffff;
}

.tableCol-25 .ms-webpartzone-cell {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
