a:active, a:hover {
    text-decoration: none;
}
#suiteBarRight {
    background-color: #FC0;
}
#s4-titlerow {
    padding-bottom: 0;
    padding-top: 0;
    height: 120px;
}
#titleAreaBox {
    float: left;
    padding-top: 30px;
}
#findItBox {
    float: right;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
#s4-bodyContainer {
    min-width: 960px;
}
.ms-breadcrumb-box {
    width: 0;
}
.ms-siteicon-a {
    max-height: 128px;
    max-width: 360;
}
.ms-siteicon-img {
    display: block;
    max-height: 128px;
    max-width: 360px;
}
#siteIcon {
    margin-right: 40px;
}
#SiteTitle, #SiteTitle a {
    color: #262626;
    font-size: 2em;
    white-space: nowrap;
    line-height: .8;
}
#pageTitleWrapper {
    background: none repeat scroll 0 0 rgba(239, 239, 239, .78);
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%}
#pageTitle {
    padding-left: 50px;
}
.ms-core-pageTitle {
    float: left;
    font-size: 1.35em;
    text-transform: uppercase;
}
#contentRow {
    margin-top: 50px;
    padding-top: 0;
}
#contentBox {
    margin-left: 240px;
	padding-top: 20px;
}
#sideNavBox {
    background: none repeat scroll 0 0 rgba(239, 239, 239, .78);
    width: 220px;
	margin-left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ms-core-sideNavBox-removeLeftMargin {
    margin-left: 0;
}
.title-container {
    background: none repeat scroll 0 0 #444;
    height: 30px;
    width: inherit;
    color: #FFF;
}
.title-findIt {
    background: none repeat scroll 0 0 #444;
    height: 30px;
    width: auto;
    color: #FFF;
    margin-bottom: 5px;
}
.title-icon {
    float: left;
    padding: 5px 5px 5px 20px;
}
.title-name {
    padding: 5px 5px 5px 50px;
}
.ms-dialog #contentBox {
    min-width: 0;
    margin: 0;
    padding: 0;
}
.ms-dialog #s4-bodyContainer {
    min-width: 0;
}
#topNavBar {
    background: none repeat scroll 0 0 #444;
    border-top: 10px solid;
    border-top-color: #FC0;
    height: auto;
}
#footer-containter {
    float: left;
    width: 100%;
    margin-top: 50px;
}
#breadcrumb-bottom {
    background: none repeat scroll 0 0 rgba(239, 239, 239, .78);
    height: 30px;
}
#breadcrumb-bottom-icon {
    float: left;
    margin-left: 50px;
    padding: 5px;
}
.breadcrumb-bottom-link:active, .breadcrumb-bottom-link:link, .breadcrumb-bottom-link:visited {
    color: #444;
}
.breadcrumb-bottom-link:hover {
    color: #777;
}
#breadcrumb-bottom-title {
    padding: 5px;
    font-size: 1em;
    white-space: nowrap;
}
#breadcrumb-bottom-title, #breadcrumb-bottom-title a {
    color: #262626;
}
#footer {
    background: none repeat scroll 0 0 #444;
    border-bottom: 7px solid;
    border-bottom-color: #FC0;
    height: 100px;
}
#footer-inner {
    color: #fff;
    float: left;
    padding: 20px;
}
#footer-menu {
    color: #b9b9b9;
    margin: 0 auto;
    width: 960px;
	padding-top: 20px;
}
.footer-menu-panel {
    float: left;
    height: 200px;
    margin-right: 40px;
    width: 200px;
}
.footer-menu-panel>h2{
    border-bottom: 7px solid #555555;
    color: #b9b9b9;
    font-size: 1.3em;
    text-transform: uppercase;
}
.footer-contact-us {
	color: #b9b9b9;
	padding: 5px 0 0;
}
.footer-links-list {
	list-style-type: none;
    margin: 0;
    padding: 5px 0 0;
}
ul.footer-links-list li a{
	color: #b9b9b9;
    line-height: 220%;
}
#back-to-top-container {
    display: none;
}
.back-to-top:active, .back-to-top:link, .back-to-top:visited {
    color: #777;
}
.back-to-top:hover {
    color: #999;
}

.ms-webpart-titleText.ms-webpart-titleText, .ms-microfeed-title ms-webpart-titleText {
    background-color: rgba(239, 239, 239, .78);
    padding-left: 10px;
    font-size: 14pt;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ms-webpart-titleText>a, .ms-webpart-titleText>a:hover {
    color: #444;
}
#Refinement, #ctl00_PlaceHolderLeftNavBar_btnBackToGallery, #ms-designbuilder-cuicontainer, #ms-designbuilder-imagecontrol, #searchIcon {
    margin-left: 20px;
    margin-right: 20px;
}
#welcome-title {
    float: left;
}
#welcome-category {
    float: right;
}


/*Start - Navigation menu styles */

.navigation-menu {
    background: #44444;
	padding-left: 50px;
}

.navigation-menu #DeltaTopNavigation {
    display: block;
}

.navigation-menu UL {
    padding: 0;
}

.navigation-menu LI {
   height: 35px;
}

.navigation-menu LI TABLE {
   height: 35px;
   background: #CCC;
   vertical-align: middle;
   border: 1px solid #CCC;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.navigation-menu LI TABLE TR {
   height: 35px;
}

.navigation-menu .ms-navedit-appendarea {
    background: #CCC;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
}

.navigation-menu .ms-core-listMenu-horizontalBox .ms-navedit-hiddenAppendArea {
    border: none;
}

.navigation-menu .ms-core-listMenu-root .ms-navedit-editArea.ms-navedit-panelEditMode {
    background: #CCC;
    margin: 0;
    height: 35px;
}

.navigation-menu .ms-navedit-editArea.ms-navedit-panelEditMode .ms-navedit-editSpan {
    display: block;
    margin: 9px;
}

.navigation-menu LI.static > A.ms-core-listMenu-item { /* Specificity Selector */
   padding: 0 15px;
   margin: 0;
   color: #FFF;
   line-height: 35px;
   border: none;
}

.navigation-menu LI.static > A.ms-core-listMenu-item:hover, .navigation-menu LI.static > A.ms-core-listMenu-item:active { /* Specificity Selector */
   background: #FFCC00;
   color: #444444;
}

.navigation-menu UL.root > LI.static:first-child > A.ms-core-listMenu-item { /* Specificity Selector */
   border: none;
}

.navigation-menu LI.static > A.ms-core-listMenu-item .dynamic-children.additional-background { /* Specificity Selector */
   background: none;
   position: relative;
   padding-right: 0;
}

.navigation-menu LI.static > A.ms-core-listMenu-item .dynamic-children.additional-background:after {
   position: absolute;
   content: '';
   right: 0;
   top: 6px;
   height: 5px;
   width: 7px;
}

.navigation-menu LI.static > A.ms-core-listMenu-item:hover .dynamic-children.additional-background:after {
   background-position: 0 -5px;
}

.navigation-menu LI.static > A.ms-core-listMenu-selected {
   background: none repeat scroll 0 0 #fc0;
   color: #444;
}

.navigation-menu UL.dynamic {
    list-style: none;
    line-height: 20px;
    margin: 2px 0 0 -3px;
    background: #777777;
    border: none;
    width: 200px !important;
	box-shadow: none;
}

.navigation-menu UL.dynamic UL.dynamic {
    margin: 0;
}

.navigation-menu UL.dynamic LI {
    height: auto;
}

.navigation-menu UL.dynamic LI A {
    padding: 12px;
    line-height: 1.2em;
    height: auto;
}

.navigation-menu UL.dynamic LI:last-child A {
    border-bottom: none;
}

.navigation-menu UL.dynamic LI A:hover, .navigation-menu UL.dynamic LI A:active {
    background: #FFCC00;
    color: #444444;
}

.navigation-menu UL.dynamic LI .ms-navedit-flyoutArrow {
    background-image: none !important;
	padding-right: 0;
}

.navigation-menu UL.dynamic LI .menu-item-text {
    color: #FFF !important;
}

.navigation-menu UL.dynamic LI A:hover .menu-item-text {
    color: #444444 !important;
}

.navigation-menu UL .ms-navedit-editLinksText {
    line-height: 33px;
    color: #FFF;
}

.navigation-menu li.static.dynamic-children.hover {
	background: #777777;
}

/*End Navigation menu styles */
/**** Start of Office 365 Styles for tiles and top bar ***********/

.o365spo.o365cst.o365cs-base .o365cs-topnavBGColor-2, .o365cs-topnavBGColor-2.o365spo.o365cst.o365cs-base {
    background-color: #FFCC00 !important;
}

.o365spo.o365cst.o365cs-base .o365cs-topnavText, .o365spo.o365cst.o365cs-base .o365cs-topnavText:hover {
    color: #444 !important;
}
.o365cs-nav-brandingText
{
    color: #444 !important;
}

.o365cst.o365cs-base .ms-bgc-tdr, .o365cst.o365cs-base .ms-bgc-tdr-h:hover
{
background-color: #fff !important;
}

.o365cst.o365cs-base .ms-fcl-w, .o365cst.o365cs-base .ms-fcl-w-h:hover {
    color: #000 !important;
}

.ms-tileview-tile-content {
    background-color: #FFCC00 !important; 
}
#O365_MainLink_NavMenu {
    background-color: #ffcc00;
}
.o365cst.o365cs-base .ms-bgc-nt, .o365cst.o365cs-base .ms-bgc-nt-h:hover {
    background-color: #ffcc00 !important;
}


/**** End of Office 365 Styles for tiles and top bar ***********/